<#import "/spring.ftl" as spring />
<#assign xhtmlCompliant = true in spring>

<#assign questions = answerHasChild.getSrSurveyQuestions()>
    		<#list questions as question>

    			<div class="form-group">
    			<#assign answers = question.getSrSurveyQuestionAnswers()>
    			<h2>${question.getQuestionContent()}</h2>
					<#list answers as answer>
							<#if answer.getAnswerType() ="TF" || answer.getAnswerType() ="Other">
								<#assign answerType = "text">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="TFN">
								<#assign answerType = "number">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="CB">
								<#assign answerType = "checkbox">
								<div class="form-check">
								   <input class="checkbox" type="${answerType}" value="answer${answer.getId()}" id="answer${answer.getId()}${answer.getSrSurveyQuestions()?size}" name = "question${question.getId()}">
								  <label class="form-check-label" for="answer${answer.getId()}">
								    ${answer.getAnswerContent()}
								  </label>
								  <#if answer.getSrSurveyQuestions()?size != 0 >
								    	<div class="child answer${answer.getId()}${answer.getSrSurveyQuestions()?size} desc">
								    	<#assign answerHasChild = answer>
								    	<#include "/ChildQuesTion.ftl.html">
								    	</div>	
								   </#if>
								</div>
							<#elseif answer.getAnswerType() ="RCB">
								<#assign answerType = "radio">
								<div class="form-check">
								  <input class="radio" type="${answerType}" value="answer${answer.getId()}" id = "answer${answer.getId()}${answer.getSrSurveyQuestions()?size}" name = "question${question.getId()}">
								  <label class="form-check-label" for="answer${answer.getId()}">
								    ${answer.getAnswerContent()}
								  </label>
								  <#if answer.getSrSurveyQuestions()?size != 0 >
								    	<div class="child question${question.getId()} desc" id = "answer${answer.getId()}${answer.getSrSurveyQuestions()?size}">
								    	<#assign answerHasChild = answer>
								    	<#include "/ChildQuesTion.ftl.html">
								    	</div>	
								   </#if>
								</div>
							<#elseif answer.getAnswerType() ="SEARCH">
								<#assign answerType = "search">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="FILE">
								<#assign answerType = "file">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="DATE">
								<#assign answerType = "date">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="RANGE">
								<#assign answerType = "range">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#else>
							</#if>
					</#list>
				</div>	    	
    		</#list>
