<#import "/spring.ftl" as spring />
<#assign xhtmlCompliant=true in spring>

<div class="citySection row" style="padding-top: 1em">
	<div class="col" id="mapid" style="height: 500px;"></div>
	<div class="col geo-input">
		<div class="form-group">
			<label for="latitude">latitude (x.y Â°)</label> <input type="number"
				class="form-control" id="latitude" name="latitude" value="">
		</div>
		<div class="form-group">
			<label for="longitude">longitude (x.y Â°)</label> <input type="number"
				class="form-control" id="longitude" name="longitude" value="">

		</div>

	</div>
</div>
