<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">

    <!-- Map -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <style>
        #map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
    </style>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/fontawesome-free-6.2.0-web/css/all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">
	<link th:href="@{/css/village-map.css}" rel="stylesheet" media="all">

    <!-- CSS for question -->
    <!-- <link th:href="@{/css/village-map.css}" rel="stylesheet" media="all"> -->

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a th:href="@{/web/authority/index}">
                                <i class="fa-solid fa-chart-line"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#" >
                                <i class="fa-solid fa-users"></i>Village</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a th:href="@{/web/authority/newvillage}">
                                        <i class="fa-solid fa-user-plus"></i>New village</a>
                                </li>
								<li>
                                    <a th:href="@{/web/authority/map}">
                                        <i class="fa-solid fa-map-location-dot"></i>Map</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
	                            <div class="noti-wrap">
	                            	<div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity" id="quantity-noti">!</span>
                                        <div class="notifi-dropdown js-dropdown" id="noti-dropdown">
                                            <div class="notifi__item">
                                                <div class="content">
                                                    <p>Title</p>
                                                    <span class="date">content</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
	                            </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img th:src="@{/images/icon/avatar.png}" alt="avatar" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" th:utext="${name}" ></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img th:src="@{/images/icon/avatar.png}" alt="avatar" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a th:utext="${name}" ></a>
                                                    </h5>
                                                    <span class="email" th:utext="${email}"></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                            	<div class="account-dropdown__item">
													<a href="#" id="modal-profile">
														<i class="zmdi zmdi-account"></i>Profile</a>
												</div>
                                                <div class="account-dropdown__item">
                                                    <a href="#" id="modal-change-password" >
                                                        <i class="zmdi zmdi-settings"></i>Change password</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a id="btn-logout" th:href="@{/web/logout}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
            	<a href="#" class="gototop">
                    <i class="fa fa-arrow-up fa-lg"></i>
                </a>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                    <!-- <button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="fa-solid fa-download"></i>Report</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa-solid fa-users"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${numberOfNewHousehold}"></h2>
                                                <span>New household</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${numberOfNewSurvey}"></h2>
                                                <span>Monthly survey</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa-solid fa-house-circle-exclamation"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${numberOfNewVillage}"></h2>
                                                <span>New village</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa-solid fa-house-circle-check"></i>
                                            </div>
                                            <div class="text">
                                                <h2 th:text="${numberOfVillage}"></h2>
                                                <span>Total villages</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="map-container">
									<div class="wrap-map">
                                        <div id="map">
                                            <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
                                        </div>
                                        <!-- <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p> -->
                                        <div class="filter-pollution">
                                            <label for="filter" class="filter"><b>Lọc:</b></label> 
                                            <label for="earth-filter" class="pollution-label-filter">
                                              <input id="earth-filter" type="checkbox">
                                              Đất
                                            </label>
                                            <label for="air-filter" class="pollution-label-filter">
                                              <input id="air-filter" type="checkbox">
                                              Không khí
                                            </label>
                                            <label for="water-filter" class="pollution-label-filter">
                                              <input id="water-filter" type="checkbox">
                                              Nước
                                            </label>
                                        </div>
                                    </div>
									<div class="map-detail">
										<div class="map-label-container">
	                                        <div>Xã / Phường</div>
	                                        <div class="value" id=""><span id="ward-name">---</span></div>										
										</div>
										<div class="map-label-container">
	                                        <div>Làng nghề</div>
	                                        <div class="value" id=""><span id="village-name">---</span></div>										
										</div>
										<div class="map-label-container">
	                                        <div>Số hộ sản xuất</div>
	                                        <div class="value" id=""><span id="household-number">---</span></div>										
										</div>
                                        <div style="display: flex; width: 100%; justify-content: space-between;">
	                                        <div class="map-location-label">
	                                            <div>Vĩ độ</div>
	                                            <div class="value" id=""><span id="latitude">---</span></div>
	                                        </div>
	                                        <div class="map-location-label">
	                                            <div>Kinh độ</div>
	                                            <div class="value" id=""><span id="longitude">---</span></div>
	                                        </div>
	                                    </div>
										<div>Cảnh báo ô nhiễm:</div>
										<div style="display: flex; width: 100%; justify-content: space-between;">
											<div style="width: 30%;">
												<input id="earth" type="checkbox" />
												<label for="earth" class="pollution-label">Đất</label>
											</div>
											<div style="width: 30%;">
												<input id="air" type="checkbox" />
												<label for="air" class="pollution-label">Không khí</label>
											</div>
											<div style="width: 30%;">
												<input id="water" type="checkbox"/>
												<label for="water" class="pollution-label">Nước</label>
											</div>			
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                            	<div class="table-layout">
                            		<div style="text-align: center; font-size: 22px; color: white; padding: 5px 0; font-weight: bold;">Khai báo</div>
	                                <div class="household-table" id="household-table">
	                                	
	                                </div>
                            	</div>
                            </div>
                            <div class="col-md-8">
                                <div class="image-view" id="image-view">
		                            <div id="image-container">
		                            	<div class="no-data" id="no-data">No data</div>
		                            </div>
		                            <div class="image-detail">
		                            	<div class="label">Ngày</div>
		                            	<div class="value" id="date">---</div>
		                            	<div class="label">Loại ô nhiễm</div>
		                            	<div class="value" id="pollution">---</div>
		                            	<div class="label">Ghi chú</div>
		                            	<div class="value" id="note">---</div>
		                            	<div class="image-button-container">
		                            		<a id="btn-previous-image" title="Ảnh trước">
		                            			<i class="fa-solid fa-chevron-left fa-2x"></i>
		                            		</a>
		                            		<div class="image-index-container">
			                            		<label id="current-image" class="image-index">--</label>
			                            		<label>/</label>
			                            		<label id="total-image" class="image-index">--</label>
		                            		</div>
		                            		<a id="btn-next-image" title="Ảnh sau">
		                            			<i class="fa-solid fa-chevron-right fa-2x"></i>
		                            		</a>
		                            	</div>
		                            </div>
		                        </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                 <a href="#" title="Báo lỗi" class="btn-report" id="btn-report">
                   	<i class="fa-regular fa-comment-dots fa-2x"></i>
               	</a>
                   
                <div class="report-form" id="report-form">
                   	<div class="report-header">
                   		<label style="width: 90%; font-size: 24px; color: white; padding: 0 0 0 20px; vertical-align: middle; margin: 0;">Báo lỗi</label>
                   		<a href="#" id="btn-close-report" style="font-size: 24px; color: white;">
                   			<i class="fa-solid fa-circle-xmark"></i>
                   		</a>
                   	</div>
                   	<div class="report-body">
                   		<input class="report-title" id="report-title" type="text" placeholder="Lỗi gặp phải">
                   		<textarea class="report-detail" id="report-detail" placeholder="Mô tả chi tiết"></textarea>
                   		<button class="btn btn-primary btn-send-report" id="btn-send-report">Gửi</button>
                   	</div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- modal static -->
			<div class="modal fade" id="staticModal1" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">Change Password</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Current Password</label>
								<input class="au-input au-input--full" id="current-password" type="password">
							</div>
							<div class="form-group">
								<label>New Password</label>
								<input class="au-input au-input--full" id="new-password" type="password">
							</div>
							<div class="form-group">
								<label>Confirmed Password</label>
								<input class="au-input au-input--full" id="confirmed-password" type="password">
							</div>
							<div id="error-message-modal" class="alert alert-danger message" role="alert" style="margin: 0;"></div>
							<div id="success-message-modal" class="alert alert-success message" role="alert" style="margin: 0;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button id="btn-change-password" type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="staticModal2" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">Profile</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>First name</label>
								<input class="au-input au-input--full" id="firstname" type="text" th:value="${firstname}">
							</div>
							<div class="form-group">
								<label>Last name</label>
								<input class="au-input au-input--full" id="lastname" type="text" th:value="${lastname}">
							</div>
							<div class="form-group">
								<label>Phone number</label>
								<input class="au-input au-input--full" id="phone" type="tel" th:value="${phone}">
							</div>
							<div id="error-profile-modal" class="alert alert-danger message" role="alert" style="margin: 0;"></div>
							<div id="success-profile-modal" class="alert alert-success message" role="alert" style="margin: 0;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button id="btn-update-profile" type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
            <!-- Model map-->
            <div class="modal fade" id="staticModal3" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-lg" role="document" style="max-width: 1200px;">
					<div class="modal-content">
                        <!-- <div class="modal-header">
							<h5>Hộ sản xuất:</h5>
                            
						</div> -->
                        <div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">Thông tin sản xuất</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>							
						</div>
                        <div class="modal-body" id="modal-body">
                            <div class="question_list">

                            </div>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
            <!-- End Model map-->
			<!-- end modal static -->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{/vendor/wow/wow.min.js}"></script>
    <script th:src="@{/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/myfunction.js}"></script>
	<script th:src="@{/js/village-map.js}"></script>

    <!--  Map -->
    <script type="text/javascript">

        var current = document.querySelector('#current-image');
        var total = document.querySelector('#total-image');
        var btn_prev = document.querySelector('#btn-previous-image');
        var btn_next = document.querySelector('#btn-next-image');

        //console.log(total);

        //set View ban đầu
        //var map = L.map('map').setView([9.2940, 105.7216], 13); 
        var map;
        var marker ={};
        var id_marker = [];
        var villages = [];
        fetch("/api/map/getVillageLocation")
         .then((res) => res.json())
         .then((data) => {           
            //console.log(data)
            //set view ban đầu
            var coordinate = data.districtCoordinate.split(",")
            //console.log(coordinate);
            map = L.map('map').setView([+coordinate[0], +coordinate[1]], 13); //CL
            L.tileLayer('https://api.maptiler.com/maps/bright/256/{z}/{x}/{y}.png?key=Xx2LVdpWdk1UyVYRKzN0',{
            tileSize: 512,
            zoomOffset: -1,
            minZoom: 1,
            attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
            crossOrigin: true
            }).addTo(map);

            //Hiện các marker làng nghề
            villages =  data.villages
            //console.log();
            var markers = {}
            villages.map((item) => {

                //icon villages
                var myIcon = L.icon({
                    iconUrl: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|e85141&chf=a,s,ee00FFFF",
                    iconSize: [21, 34],
                })

                // Create and save a reference to each marker
                markers[item.villageId] = L.marker([item.latitude, item.longitude],{
                    icon: myIcon,              
                }).addTo(map);
                // Add the ID
                markers[item.villageId]._icon.id = item.villageId + ", " + item.villageName;
                //gắn popup khi mouseover vào
                //var bigIcon = new L.Icon.Big();
                markers[item.villageId].bindPopup(item.villageName)
                markers[item.villageId].on('mouseover', function(e){
                    this.openPopup();

                });
                markers[item.villageId].on('mouseout', function(e){
                    this.closePopup();
                });

                //luwu de xoa marker
                id_marker.push(item.villageId)
            })           
        });

        //Onclick Marker 
        $(document).ready(function() {
           setTimeout(() => {
            $('.leaflet-marker-icon').click(function(e) {
                // Use the event to find the clicked element
                var el = $(e.srcElement || e.target),
                id_name = el.attr('id').split(', ');
                id = id_name[0]
                village_name = id_name[1]
                //console.log(id_name);
                //alert('Here is the markers ID: ' + id + '. Use it as you wish.')'                
                // fetch("/api/map/getVillage?villageId="+id)
                //  .then((res) => res.json())
                //  .then((data) => {
                //     if(map.hasLayer(marker)) map.removeLayer(marker);
                //     var coordinate = data.coordinate.split(", ")
                //     //console.log(coordinate)
                //     document.getElementById('ward-name').innerHTML = data.wardName
                //     document.getElementById('latitude').innerHTML = (+coordinate[0]).toFixed(5)
                //     document.getElementById('longitude').innerHTML = (+coordinate[1]).toFixed(5)                   
                //  });

                // fetch("/api/map/getHousehold?villageId="+id)
                //  .then((res) => res.json())
                //  .then((data) => {
                //     document.getElementById('household-number').innerHTML = data.length               
                // });
                // document.getElementById('village-name').innerHTML = village_name

                $.getJSON("/api/map/getVillage?villageId="+id, function(data) {
                    console.log(data);
                    if (map.hasLayer(marker)) map.removeLayer(marker);
                        var coordinate = data.coordinate.split(", ");
                        $("#ward-name").html(data.wardName);
                        $("#latitude").html(parseFloat(coordinate[0]).toFixed(5));
                        $("#longitude").html(parseFloat(coordinate[1]).toFixed(5));
                        
                        //Pollution
                        if(data.state[0] === '1') $('#earth').prop('checked', true); else $('#earth').prop('checked', false);
                        if(data.state[1] === '1') $('#air').prop('checked', true); else $('#air').prop('checked', false);
                        if(data.state[2] === '1') $('#water').prop('checked', true); else $('#water').prop('checked', false);
                });

                    $.getJSON("/api/map/getHousehold?villageId="+id, function(data) {
                    $("#household-number").html(data.length);               
                });

                $("#village-name").html(village_name);

                //Ảnh
                fetch("/craftvillage/api/survey/listImage?villageId="+id)
                 .then((res) => res.json())
                 .then((data) => {
                    //console.log(data.length == 0);
                    current.textContent= (data.length) ? 1 : 0
                    total.textContent=data.length 
                    if(data.length != 0) {
                        data.sort(function(a,b) {return b-a})
                        getImage(data[0])
                        //console.log(data);      
                        btn_prev.onclick = function() {
                            getImage(data[Number(current.textContent)-1])
                        }
                        btn_next.onclick = function() {
                            getImage(data[Number(current.textContent)-1])
                        } 
                    }
                    else {
                        $('#image-container').empty();
                        $('#no-data').append("No data");

                        $('#date').empty();
                        $('#date').append("---");

                        $('#pollution').empty();
                        $('#pollution').append("---");
                        
                        $('#note').empty();
                        $('#note').append("---");
                    }
                });

                //Khai báo
                //console.log(id);
                fetch("/api/map/getHousehold?villageId="+id)
                 .then((res) => res.json())
                 .then((data) => {
                    //console.log(data);
                    var html="";
                    for(var i = 0; i < data.length; i++) {
                        html += `
                            <div class="household-record">
                                <div class="household-index-field">${i+1}</div>
                                <div class="household-name-field">${data[i].householdName}</div>
                                <div class="household-info-field"><a id="${data[i].householdId}" href="#" style="color: white;" class="household-info" >Chi tiết >></a> </div>
                            </div>
                        `
                        //console.log(html)
                    }
                    let householdRecord = document.getElementById("household-table")
                    //console.log(html)
                    householdRecord.innerHTML = html

                    //Xem khai báo chi tiết của household
                    detail = document.querySelectorAll(".household-info");
                    for(var i=0; i<detail.length; i++) {
                        detail[i].onclick = function(e) {
                            var html = "";
                            var id = $(e.srcElement || e.target).attr('id')
                            //console.log(id);
                            getQuestionList(id)
                            $('#staticModal3').modal();
                        }
                    }
                });               
            });         
           }, 1000);
        });
        
    </script>
    <script th:src="@{/js/notification.js}"></script>
</body>

</html>
<!-- end document-->
