<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">

    <!-- Map -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <style>
        #map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
    </style>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


    <!-- Title Page-->
    <title>Map</title> 

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/fontawesome-free-6.2.0-web/css/all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <!-- <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all"> -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" media="all"/>
    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/map.css}" rel="stylesheet" media="all">
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a th:href="@{/web/authority/index}">
                                <i class="fa-solid fa-chart-column"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#" >
                                <i class="fa-solid fa-users"></i>Village</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: block;">
                                <li>
                                    <a th:href="@{/web/authority/newvillage}">
                                        <i class="fa-solid fa-user-plus"></i>New village</a>
                                </li>
                                <li class="active">
                                    <a th:href="@{/web/authority/map}">
                                        <i class="fa-solid fa-map-location-dot"></i>Map</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                            	<!-- <div class="noti-wrap">
	                            	<div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity" id="quantity-noti">!</span>
                                        <div class="notifi-dropdown js-dropdown" id="noti-dropdown">
                                            <div class="notifi__item">
                                                <div class="content">
                                                    <p>Title</p>
                                                    <span class="date">content</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="content">
                                                    <p>Title2</p>
                                                    <span class="date">content</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
	                            </div> -->
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img th:src="@{/images/icon/avatar.png}" alt="avatar" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" th:utext="${name}" ></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img th:src="@{/images/icon/avatar.png}" alt="avatar" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a th:utext="${name}" ></a>
                                                    </h5>
                                                    <span class="email" th:utext="${email}"></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
													<a href="#" id="modal-profile">
														<i class="zmdi zmdi-account"></i>Profile</a>
												</div>
                                                <div class="account-dropdown__item">
                                                    <a href="#" id="modal-change-password">
                                                        <i class="zmdi zmdi-settings"></i>Change password</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a id="btn-logout" th:href="@{/web/logout}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row" style="height: 800px;">
                            <div class="col-md-8" style="display: flex; flex-direction: column;">
                                <div class="wrap-map">
                                    <div id="map">
                                        <a href="https://www.maptiler.com" ><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
                                    </div>
                                    <!-- <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p> -->
                                </div>
								<div class="village-info-container">
									<div class="village-info-left">
										<table style="width: 100%;">
											<tr>
												<td style="font-size: 20px; padding: 10px 0;">Xã / Phường:</td>
												<td>
													<select class="au-input au-input--full" id="ward" style="padding: 5px; font-size: 16px;">
                                                    	<th:block th:each="ward : ${wards}">
                                                    		<option th:value="${ward.wardId}" th:utext="${ward.wardName}"></option>
                                                    	</th:block>
                                                	</select>
												</td>
											</tr>
											<tr>
												<td style="font-size: 20px; padding: 10px 0;">Làng nghề:</td>
												<td>
													<input class="input-field" id="villageName"/>
												</td>
											</tr>
										</table>
										<div style="display: flex; width: 100%;">
											<div style="width: 40%;">
												<div style="font-size: 20px;">Vĩ độ:</div>
												<input id="latitude" class="input-field"/>
											</div>
											<div style="width: 40%; margin-left: auto;">
												<div style="font-size: 20px;">Kinh độ:</div>
												<input id="longitude" class="input-field"/>
											</div>				
										</div>
										<!-- <div style="font-size: 20px; margin: 15px 0;">Tình trạng ô nhiễm</div>
										<div style="display: flex; width: 100%; justify-content: space-between;">
											<div style="width: 30%;">
												<input id="earth" type="checkbox" value="1"/>
												<label for="earth" class="pollution-label">Đất</label>
											</div>
											<div style="width: 30%;">
												<input id="air" type="checkbox" value="1"/>
												<label for="air" class="pollution-label">Không khí</label>
											</div>
											<div style="width: 30%;">
												<input id="water" type="checkbox" value="1"/>
												<label for="water" class="pollution-label">Nước</label>
											</div>			
										</div> -->
									</div>
									<div class="village-info-right">
                                        <textarea id="note" class="au-input au-input--full" placeholder="Mô tả"></textarea>
                                        <button class="btn btn-primary" style="margin-left: auto; margin-right: 0; display: block;" id="btn-update">Cập nhật</button>
									</div>
								</div>
                            </div>
                            <div class="col-md-4">
								<div class="list-village-container">
                                    <div class="list-village-search">
                                        <input type="text" id="search-input" placeholder="Search...">
                                        <button id="search-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                            </svg>
                                        </button>
                                    </div>
									<div id="list-village-header">
										<!-- <label style="font-size: 20px; margin: 0; color: #4272d7;">Chọn tất cả</label>
										<label class="switch switch-3d switch-primary mr-3" style="margin: auto;">
					                      <input id="switch-all" type="checkbox" class="switch-input" checked>
					                      <span class="switch-label"></span>
					                      <span class="switch-handle"></span>
					                    </label> -->
									</div>
									<div id="list-village-body">
										
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                 <a href="#" title="Báo lỗi" class="btn-report" id="btn-report">
                   	<i class="fa-regular fa-comment-dots fa-2x"></i>
               	</a>
                   
                <div class="report-form" id="report-form">
                   	<div class="report-header">
                   		<label style="width: 90%; font-size: 24px; color: white; padding: 0 0 0 20px; vertical-align: middle; margin: 0;">Báo lỗi</label>
                   		<a href="#" id="btn-close-report" style="font-size: 24px; color: white;">
                   			<i class="fa-solid fa-circle-xmark"></i>
                   		</a>
                   	</div>
                   	<div class="report-body">
                   		<input class="report-title" id="report-title" type="text" placeholder="Lỗi gặp phải">
                   		<textarea class="report-detail" id="report-detail" placeholder="Mô tả chi tiết"></textarea>
                   		<button class="btn btn-primary btn-send-report" id="btn-send-report">Gửi</button>
                   	</div>
                </div>
            </div>
            <!-- modal static -->
			<div class="modal fade" id="staticModal1" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">Change Password</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Current Password</label>
								<input class="au-input au-input--full" id="current-password" type="password">
							</div>
							<div class="form-group">
								<label>New Password</label>
								<input class="au-input au-input--full" id="new-password" type="password">
							</div>
							<div class="form-group">
								<label>Confirmed Password</label>
								<input class="au-input au-input--full" id="confirmed-password" type="password">
							</div>
							<div id="error-message-modal" class="alert alert-danger message" role="alert" style="margin: 0;"></div>
							<div id="success-message-modal" class="alert alert-success message" role="alert" style="margin: 0;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button id="btn-change-password" type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="staticModal2" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">Profile</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>First name</label>
								<input class="au-input au-input--full" id="firstname" type="text" th:value="${firstname}">
							</div>
							<div class="form-group">
								<label>Last name</label>
								<input class="au-input au-input--full" id="lastname" type="text" th:value="${lastname}">
							</div>
							<div class="form-group">
								<label>Phone number</label>
								<input class="au-input au-input--full" id="phone" type="tel" th:value="${phone}">
							</div>
							<div id="error-profile-modal" class="alert alert-danger message" role="alert" style="margin: 0;"></div>
							<div id="success-profile-modal" class="alert alert-success message" role="alert" style="margin: 0;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button id="btn-update-profile" type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal static -->
        </div>

    <!-- Jquery JS-->
    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{/vendor/wow/wow.min.js}"></script>
    <script th:src="@{/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/myfunction.js}"></script>
    <script th:src="@{/js/village-map.js}"></script>
    <script th:inline="javascript">
	    /*<![CDATA[*/
		    var villages = /*[[${villages}]]*/ [];
		/*]]>*/
	</script>
    <script type="text/javascript">
        var map;     
        fetch("/api/map/getVillageLocation")
            .then((res) => res.json())
            .then((data) => {      
            var coordinate = data.districtCoordinate.split(",")
            map = L.map('map').setView([+coordinate[0], +coordinate[1]], 13); //CL
                L.tileLayer('https://api.maptiler.com/maps/bright/256/{z}/{x}/{y}.png?key=Xx2LVdpWdk1UyVYRKzN0',{
                tileSize: 512,
                zoomOffset: -1,
                minZoom: 1,
                attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                crossOrigin: true
            }).addTo(map);       
        });
    </script>
    <script th:src="@{/js/map.js}"></script>
    <!-- <script th:src="@{/js/notification.js}"></script> -->
</body>

</html>
<!-- end document-->
