<#import "/spring.ftl" as spring />
<#assign xhtmlCompliant = true in spring>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   	
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   
    <meta charset="UTF-8">
    <title>Form example with Java, Spring Boot, FreeMarker</title>
        
 
 
 
 
<script type="text/javascript">

$(document).ready(function(){ 
   $("input[name$='city']").click(function() {
	   var test = $(this).attr('id');
      
      
       $("div.districts").hide();
       
       
       $("#district"+test).show();
   }); 
});
$(document).ready(function(){ 
   $("input[name$='district']").click(function() {
	   var test = $(this).attr('id');
       
      
       $("div.wards").hide();
       
       
       $("#ward"+test).show();
   }); 
});
$(document).ready(function(){ 
   $("input[class=radio]").click(function() {
       var test = $(this).attr('id');
		var test2 = $(this).attr('name')
       var length = test.length ;
       
       var t = test[length-1];
       if (t != "0")
       {
       	$("."+test2).show();
       }
       else
       {
       $("."+test2).hide();
       }
       
   }); 
});
$(document).ready(function(){ 
   $("input[class=checkbox]").click(function() {
	   var test = $(this).attr('id');
	   var test2 = $(this).attr('name')
       var length = test.length ;
       var t = test[length-1];
        if ($(this).is(':checked')){
        	$("."+test).show();
        }
        else
         {
       $("."+test).hide();
       }
        
   }); 
});

$(document).ready(function(){
	$("input[id=demo]").click(function()
	{
		var formData = JSON.stringify($("#myform").serializeArray());
		
		$.ajax({
			  type: "POST",
			  url: "/surveyform",
			  data: formData,
			  success: function(){
			  },
			  dataType: "json",
			  contentType : "application/json"
			});
	});
});


 </script>
  
    <style>
   .desc,.wards,.districts { display: none; }
   .districts {padding : 30px;}
   .wards {padding : 30px;}
   body{
   margin : 30px;
  
   }
   .container
   {
   
   }
    </style>    
</head>

<body>
	<form    id = "myform"  >

	<#assign cities = address.getProvinceList(234)>
	<div class="container">
		<#include "/HeaderSection.ftl.html">
		<#include "/CitySection.ftl.html">
		
		
		
			<#assign questions = survey.getSrSurveyQuestions()>
    		<#list questions as question>
    		<#if question.getSrSurveyQuestionAnswer()??>
    		<#else>
    			<div class="form-group">
    			<#assign answers = question.getSrSurveyQuestionAnswers()>
    			<h2>${question.getQuestionContent()}</h2>
					<#list answers as answer>
							<#if answer.getAnswerType() ="TF" || answer.getAnswerType() ="Other">
								<#assign answerType = "text">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}" >
								</div>
							<#elseif answer.getAnswerType() ="TFN">
								<#assign answerType = "number">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								    
								</div>
							<#elseif answer.getAnswerType() ="CB">
								<#assign answerType = "checkbox">
								<div class="form-check">
								  <input class="checkbox" type="${answerType}" value="answer${answer.getId()}" id="answer${answer.getId()}${answer.getSrSurveyQuestions()?size}" name = "question${question.getId()}">
								  <label class="form-check-label" for="answer${answer.getId()}">
								    ${answer.getAnswerContent()}
								  </label>
								   <#if answer.getSrSurveyQuestions()?size != 0 >
								    	<div class="child answer${answer.getId()}${answer.getSrSurveyQuestions()?size} desc">
								    	<#assign answerHasChild = answer>
								    	<#include "/ChildQuesTion.ftl.html">
								    	</div>	
								   </#if>
								</div>
							<#elseif answer.getAnswerType() ="RCB">
								<#assign answerType = "radio">
								<div class="form-check">
								  <input class="radio" type="${answerType}" value="answer${answer.getId()}" id = "answer${answer.getId()}${answer.getSrSurveyQuestions()?size}" name = "question${question.getId()}">
								  <label class="form-check-label" for="answer${answer.getId()}">
								    ${answer.getAnswerContent()}
								  </label>
								 <#if answer.getSrSurveyQuestions()?size != 0 >
								 	<div class="child question${question.getId()} desc" >
								    	<#assign answerHasChild = answer>
								    	<#include "/ChildQuesTion.ftl.html">
								    </div>	
								    </#if>
								</div>
							<#elseif answer.getAnswerType() ="SEARCH">
								<#assign answerType = "search">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="FILE">
								<#assign answerType = "file">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="DATE">
								<#assign answerType = "date">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#elseif answer.getAnswerType() ="RANGE">
								<#assign answerType = "range">
								<div class="form-group">
								    <label for="answer${answer.getId()}">${answer.getAnswerContent()}</label>
								    <input type="${answerType}" class="form-control" id="answer${answer.getId()}" name = "question${question.getId()}">
								</div>
							<#else>
							</#if>
					</#list>
				</div>	    	
    		</#if></#list>
  		<input type="button" id="demo" class="btn btn-primary" value="Submit">
  	</div>
  	  		</form>	
  	
</body>
</html>
<script>

	var mymap = L.map('mapid').setView([16.463713, 107.590866], 13);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoicG9seWdvbmNhdCIsImEiOiJjazh6bTV6dzYxdTl6M2dxc2F0NzA0aWVjIn0.XBE5qHIc88-fzKLM-Ezi6w'
}).addTo(mymap);
	
	mymap.on('click', onMapClick);
	var marker;
	function onMapClick(e) {
		if(marker){
			mymap.removeLayer(marker); 
		}
	    marker = new L.marker()
	    .setLatLng(e.latlng)
	    .addTo(mymap)
	  	document.getElementById("latitude").value = e.latlng.lat;
	  	document.getElementById("longitude").value = e.latlng.lng;
	}
	
	
</script>


